*.avi
*.pdf
*.prproj
*.mp4
*.mat
outputs
.DS_Store
__pycache__
*.csv
.vscode/
experiments/objects_3d/extra/
experiments/uploads/
experiments/experiment_save_data_examples.txt
objects_3d/
experiment5_body_animation.ipynb
*.stl
*.eps
*.png
*.gif

*.svg
