contourpy
cycler
fonttools
h5netcdf
h5py
igraph
importlib_resources
ipympl
ipywidgets
kaleido
kiwisolver
matplotlib
mdof
meshio
nbformat
networkx
numpy
numpy-stl
packaging
pillow
plotly
pyparsing
python-dateutil
pyunicorn
scienceplots
scikit-learn
scipy
seaborn
six
texttable
tqdm
veux>=0.0.33
zipp