contourpy==1.1.1
cycler==0.12.1
fonttools==4.53.0
h5netcdf==1.1.0
h5py==3.11.0
igraph==0.11.5
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.7.5
networkx==3.1
numpy==1.24.4
packaging==24.1
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pyunicorn==0.7.0
scipy==1.10.1
six==1.16.0
texttable==1.7.0
tqdm==4.66.4
zipp==3.19.2
